# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc

# ChromaDB vector stores
chroma_db/
chroma_db_vlm/
*.sqlite3
*.bin

# Large binary files
*.dll
*.pyd
*.so

# Logs
*.log

# OS
.DS_Store

.node_modules
.next